<div ui-content-for="modals">
  <div class="myModal" ui-if="myModal" ui-shared-state='myModal'>
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Realy want to exit?</h4>
        </div>
        <div class="modal-footer">
          <button ui-turn-off="myModal" ng-click="getApps()" style="float: left" class="btn btn-info">More Apps</button>
          <button ui-turn-off="myModal" style="width: 30%" class="btn btn-default">Cancel</button>
          <button ui-turn-off="myModal" ng-click="exit()" style="width: 30%" class="btn btn-primary">Exit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<span>Leagues:</span>
<div class="panel-group" ui-shared-state="myAccordion">
	<div class="panel" ng-repeat="league in leagues">
		<div class="panel-heading" ui-set="{'myAccordion': league.id}">
			<h4 class="panel-title">{{league.name}}</h4>
		</div>

		<div ui-if="myAccordion == {{league.id}}">
			<div class="panel-body">
				<a href="#/teams" class="btn btn-default"
					ng-click="getLeagueTeams(league)"> Teams </a> <a href="#/standings"
					class="btn btn-success" ng-click="getLeagueStandings(league)">
					Standings </a>
			</div>
		</div>
	</div>
</div>