 <span>Leagues:</span>
    <div class="panel-group" 
        ui-shared-state="myAccordion">
    <div class="panel" ng-repeat="league in leagues">
          <div class="panel-heading" ui-set="{'myAccordion': league.id}">
            <h4 class="panel-title">
               {{league.name}}
            </h4>
          </div>

          <div ui-if="myAccordion == {{league.id}}">
            <div class="panel-body">
            <a href="#/teams" class="btn btn-default" ng-click="getLeagueTeams(league)">
    			Teams
			</a>
			<a href="#/standings" class="btn btn-success" ng-click="getLeagueStandings(league)">
    			Standings
			</a>
            </div>
          </div>
        </div>
     </div>