<div class="scrollable">
  <h1 class="scrollable-header app-name">Designed by Lirola Luis</h1>
  <div class="scrollable-content">
    <span class="years-label">Leagues:</span>
    <div class="list-group" ui-turn-off="uiSidebarLeft">
      <a ng-repeat="league in leagues" class="list-group-item menu-items" ng-class="{'active-league' : league.name == currentLeague.name}"
       href="#/standings" ng-click="getLeague(league)">{{league.name}} - {{league.country}}<i class="fa fa-chevron-right pull-right"></i></a>
    </div>
  </div>
</div>