<div class="scrollable">
  <h1 class="scrollable-header app-name">Leagues:</h1>
  <div class="scrollable-content">
    <div class="panel-group" 
        ui-shared-state="myAccordion">
    <div class="panel menu-items" ng-class="{'active-league' : league.name == currentLeague.name}" ng-repeat="league in leagues">
          <div class="panel-heading" ui-set="{'myAccordion': league.id}">
        
            <h4 class="panel-title">
               {{league.name}}
            </h4>
          </div>

          <div ui-if="myAccordion == {{league.id}}">
            <div class="panel-body">
			<a href="#/standings" class="btn btn-success" ng-click="getLeagueStandings(league)">
    			Standings
			</a>
            </div>
          </div>
        </div>
     </div>
  </div>
</div>
