<div class="scrollable">
	<div class="scrollable-content">
		<span>Standings in {{currentLeague.name}} </span>
		<table class="table table-stripped">
			<thead>
				<tr>
					<th>#</th>
					<th>Team</th>
					<th>P</th>
					<th>W</th>
					<th>D</th>
					<th>L</th>
					<th>GD</th>
					<th>P</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="team in scoreData" id="{{team.color}}">
					<td>{{ team.position }}</td>
					<td>{{ team.teamName }}</td>
					<td>{{ team.playedGames }}</td>
					<td>{{ team.wins }}</td>
					<td>{{ team.draws }}</td>
					<td>{{ team.losses }}</td>
					<td>{{ team.goalDifference }}</td>
					<td>{{ team.points }}</td>
				</tr>
			</tbody>
		</table>
		<span>Last updated at {{currentLeague.lastUpdated | date}} </span>
	</div>
</div>
<div ui-content-for="modals">
	<div class="myModal" ui-if="myModal" ui-shared-state='myModal'>
		<div class="modal-backdrop in"></div>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Realy want to exit?</h4>
				</div>
				<div class="modal-footer">
					<button ui-turn-off="myModal" ng-click="getApps()"
						style="float: left" class="btn btn-info">More Apps</button>
					<button ui-turn-off="myModal" style="width: 30%"
						class="btn btn-default">Cancel</button>
					<button ui-turn-off="myModal" ng-click="exit()" style="width: 30%"
						class="btn btn-primary">Exit</button>
				</div>
			</div>
		</div>
	</div>
</div>
